*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    
}

body{
    /**background-color: #A7D6DC;**/
    background: linear-gradient(to bottom, #79abd1 0%,#d4e4ef 100%);
    font-family: 'Gloria Hallelujah', cursive;
}

#bodyIndex{
    overflow: hidden;
}

/****** HEADER *****/

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 0%;
    background-image: url(../img/nubesAnimadas1.png);
    background-size: 90%;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground 20s linear infinite;

}

    header p, .volverAtras{
        display: none;
        
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    
    #logo{
        flex: 0.5 1;
        width: 3%;
        height: 1%;
        animation: 1.3s flotarNubes ease infinite alternate;
    }

    #imagenParlante{
        width: 6%;
      }

    nav{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 70%;
    }

        .menu {
            display: flex;
            flex-flow: row wrap;
            list-style:none;
            justify-content: space-between;
            height: 100%;
        }

            .linkMenu, .menuHamburguesa{
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("../img/nube.png");
                background-size: cover;
                width: 5%;
                padding: 6%;
                text-align: center;
                animation: 1.3s flotarNubes ease infinite alternate;
            }   

            .linkMenu a{
                text-decoration: none;
                text-align: center;
                font-family: 'Gloria Hallelujah', cursive;
                font-size: 100%;
                color: #222;
            }

.categoria input:hover, #imagenParlante:hover {
	transform: scale(1.1)
}

@keyframes flotarNubes {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.06);
    }
  }

/***** PAGINA HOME *****/

.section_categorias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

    .container_lateral{
        display: flex;
        justify-content: center;
        width: 15%; 
    }

    .container_lateral.arbol{
        margin: 0 1% 0 0;
    }

        #arbol{
            width: 25%;
            height: 73%;
            position: absolute;
            left: 0;
            border-bottom: 0;
            z-index: -1;
        }

        #globo {
            width: 60%;
            animation: flotarGlobo 2s alternate infinite ease-in;
        }
    
            @keyframes flotarGlobo{
                100%{
                    transform: translateY(30%);
                }
            }
            
    .categorias{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 70%;
        margin-top: 1%;
    }

        .categoria{
            display: flex;
            flex-flow: column nowrap;
            width: 23%; 
            margin: 1% 1% 0 1%;
        }

            .categoria input{
                font-size: 120%;
                font-family: 'Coiny', cursive;
                color: #fff;
                text-shadow: 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222;
                padding: 20% 0 20% 0; 
                border-radius: 20%;
                border-color: #868484;
                background-image: url(../img/pared.jpg);
                background-size: cover;
                background-color: transparent;
                box-shadow: 10px 10px 20px #727171; 
                
            }

            .containerMariposaFlorLadrillo{
                display: flex;
                flex-flow: column nowrap;
            }

            /*** NENES/AS DE PÁGINA HOME ***/

            #nene_mirando_arriba{
                width: 60%; 
                margin-bottom: 7%;
                animation: saltar 2s ease  infinite;
            }

                @keyframes saltar {
                    25% {
                    transform:translateY(20px) skew(-5deg);
                    }
                    0%, 50%, 100% {
                    transform:translateY(0) skew(0);
                    }
                    75% {
                    transform:translateY(15px) skew(8deg);
                    }
                }

            #nena_colgada{
                width: 59%; 
                animation: 3s balancearse ease infinite;
            }

            #nena_columpio{
                width: 55%; 
                animation: 2s balancearse ease infinite;
            }

                @keyframes balancearse {
                    0% {
                    transform: rotate(-2deg);
                    }
                    20% {
                    transform: rotate(10deg);
                    }
                    40% {
                    transform: rotate(-7deg);
                    }
                    60% {
                    transform: rotate(2deg);
                    }
                    90% {
                    transform: rotate(-0.5deg);
                    }
                    100% {
                    transform: rotate(0);
                    }
                }
            
            #nena_saludando {
                width: 45%; 
            }

            .containerMariposasFlor{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

                .mariposa{
                    width: 15%;
                }

                .rosa{
                    margin: 9% 0 3% 0;
                }

            .containerPajaritoCasita{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

                #casita{
                width: 27%;
                }

                #birdGif{
                    width: 25%;
                    animation: volar 1s alternate infinite ease-in;
                    margin-left: 10%;
                    align-self: flex-start;
                }

                    @keyframes volar{
                        100%{
                            transform: translateY(80%);
                        }
                    }
                
                .containerHongoNene{
                    display: flex;
                    justify-content: center;
                }

                    #margaritas{
                        display: none;
                    }

            #imagenParlante,
            #globo,
            #nena_columpio,
            #nene_mirando_arriba,
            #nena_saludando, 
            #nena_colgada,
            .florLadrillo,
            .mariposa.rosa,
            #casita{
                align-self: center;
            }

            .florLadrillo{
                width: 32%;
            }


/***** FOOTER  *****/

.footer{
    display: flex;
    flex-flow: column nowrap;
    bottom: 0px;
}

    .footerPasto{
        background-image: url(../img/footer.png);
        background-size: 65%;
        width: 100%;
        padding: 2% 0% 3.5% 0%;
    }

    .menuTierra,
    .botonFamilia,
    .botonCuentos,
    .botonEsi,
    .botonContacto{
        display: none;
    }

/***** CATEGORIA TEMPLATED *****/

#containerPrincipalPestanas{
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

    #pestanas{
        width: 100%;
        height: 20%;
    }
        #pestanas ul{
            display: flex;
            flex-flow: row nowrap;
            width: 50%;
        }

            #lista li{
                margin-right: 2%;
            }

            .pestana{
                list-style: none;
                text-align: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: 2px solid #222;
                margin-bottom: -2px;
                padding: 2% 0% 2% 0%;
                width: 50%;
                z-index: 1;
            }

            .pestana1{
                background: #ffcc66;
                border-bottom-color: #ffcc66;
            }

            .pestana2{
                background: #ffdd99;
                border-bottom-color: #222;
            }

            #pestanas a{
                text-decoration: none;
                color: #222;
            }

    #contenidopestanas{
        display: flex;
        flex-flow: column nowrap;
        background: linear-gradient(to bottom, #ffcc66 0%,#ffdd99 100%);
        padding: 2%;
        border-radius: 0px 5px 5px 5px;
        border: 2px solid #222;
        height: 60vh;
       
    }

        .tituloTemplatedCategoria{
            text-align: center;
            margin-bottom: 2%;
            font-size: 1rem;
            width: 100%;
        }

        /***** TEORIA ABUSO SEXUAL*****/
        
        .teoriaAbusoSexual{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            overflow: auto;
            height: 60vh;
        }

                .signoExclamacion{
                    width: 4%;
                    margin-bottom: -3%;
                }

                    .signoExclamacion1{
                        margin-bottom: -4%;
                    }

                    .signoExclamacion2{
                        margin-top: 1%;
                    }

            .teoriaAbusoSexual ul{
                list-style: none;
                background-image: url(../img/papelPiola.png);
                background-repeat: no-repeat;
                background-size: 100%;
                padding: 20% 10% 15% 20%;
                margin-top: 2%;
                font-size: 0.9rem;
            }

                .teoriaAbusoSexual ul li{
                    line-height: 150%;
                    margin-top: 5%;
                }

                .tildeVerde, .cruzRoja{
                    width: 2.5%;
                }

        /***** JUEGO DE ABUSO SEXUAL *****/

        .juegoAbusoSexual{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }


            .consigaAbusoSexual{
                width: 100%;
                padding-bottom: 2%;
                text-align: center;
            }

            .containerImagenJuegoAbusoSexual{
                display: flex;
                justify-content: center;
                border: 1px solid #222;
                width: 45%;
                height: 20%;
                background: #ffe6b3;
            }

                .containerImagenJuegoAbusoSexual img{
                    width: 100%;
                    height: 100%;
                }

            #descripcionImagenJuegoAbusoSexual{
                width: 90%;
                text-align: center;
                line-height: 150%;
                padding: 1% 0% 1% 0%;
            }

            .containerBotonesAbusoSexual{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 55%;
                padding-top: 1%;
            }

                #bien:hover, #mal:hover, #next:hover{
                    transform: scale(1.1);
                }

            .containerVerificacionYNext{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: flex-end;
                height: 6vh;
            }

                .mensajeVerificacionRespuesta{
                    margin-right: 2%;
                    width: 55%;
                    display: none;
                    text-align: center;
                }
                
                #recargar, .recargar, .recargarGrooming{
                    width:20%;
                    align-self: flex-end;
                }
                    #next, #nextGrooming, #nextIguales{
                        margin-right: 3%;
                        width: 80%;
                        height: 100%;
                        border-radius: 10px;
                        align-self: flex-end;
                        display: none;
                    }
        
                

        /***** TEORIA CATEGORIA CUERPO HUMANO *****/
        .teoriaElCuerpo{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            overflow: auto;
            height: 60vh;
        }

            .partesPrivadasImagen{
                width: 100%;
                margin-bottom: 3%;
                margin-top: 1%;
            }

            .partesPrivadasTexto{
                margin-bottom: 3%;
                text-align: justify;
            }

                .negrita{
                    font-weight: bold;
                }

                .rojo{
                    color: red;
                }

                .verde{
                    color: green;
                }

            /***** LUPA *****/
            /* .magnify {
                z-index: 20;
                border: 3px solid #999;
                position: relative;
                width:900px;
              height:640px;
                margin:0px auto;
                overflow: hidden;
            }
            
            .magnify img {
                display:block;
            }
            
            .element_to_magnify {
                position: relative;
                width:900px;
              height:640px;
            }
            .element_to_magnify a {
              display:block;
              position:absolute;
              top:80px;
              right:80px;
              background-color:rgba(200, 200, 200, .25);
              padding:4px;
              font-size:18px;
              color:#fff;
            }
            .element_to_magnify img{
                width: 100%;
                height: auto;
            }
            .magnified_element {
                
            }
            
            .magnify_glass {
                z-index: 300;
                position: absolute;
                border: 4px solid #CCC;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                overflow:hidden;
            }
             */

            /***** JUEGO CUERPO HUMANO ****/
            .juegoElCuerpo{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

            .tablaCuerpoHumano{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 60vh;
            }
    

            .rowCuerpoHumano {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                width: 99%;
                border-bottom: 1px solid #222;
            }

            .rowSinBorde{
                border-bottom: 0px solid #222;
            }

                .elementCuerpoHumano{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 99%;
                    height: 10vh;
                }

                .bordear {
                    border-right: 1px solid #222;
                }

                .equis{
                    width: 24%;
                    display: none;
                }

                .parteCuerpo{
                    width: 48%;
                }

                .brazo{
                    width: 65%;
                }

                .agrandar{
                    width: 52%;
                }

            /************ TEORIA DE GROOMING ************/
            .teoriaGrooming{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                overflow: auto;
                height: 60vh;
            }

            .teoriaGroomingImg{
                width: 99%;
                
            }
                .teoriaGroomingImg img{
                    width: 100%;
                    height: 100%;
                    border: 1px solid #222;
                    border-radius: 20px;
                    border-bottom: 6px solid #222; 
                }

            /*********** JUEGO DE GROOMING ***********/
            .juegoGrooming{
                height: 60vh;
                overflow: auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
            }

            .consignaCentrada{
            text-align: center;
            }

            .containerImagenJuegoGrooming{
                display: flex;
                justify-content: center;
                border: 1px solid #222;
                width: 57%;
                height: 23vh;
                background: #ffe6b3;
                margin: 2% 0% 3% 0%;
            }

                #imagenGrooming{
                    width: 80%;
                    height: 100%;
                }

            .formJuegoGrooming{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .opcion{
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                padding: 1%;
                border-radius: 20px;
                width: 95%;
                background: linear-gradient(to top, orange 0%,#fff2cc 100%);
                margin-bottom: 2%;
                text-align: left;
                border-bottom: 3px solid #e65c00; 
                border-bottom-color: #e65c00;
            }

            .contenedorNextGrooming{
                align-self: flex-end;
                width: 94%;
            }

            #nextGrooming{
                width: 65%;
            }

            /*************** TEORIA IGUALES *****************/
            .teoriaIguales{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                overflow: auto;
                height: 60vh;
            }
            .consignaIguales{
                text-align: justify;
                line-height: 150%;
            }

            #banderaLGBT{
                width: 70%;
                height: 70%;
            }

            /****************** JUEGOS IGUALES ************************/
            .juegoIguales{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                overflow: auto;
                height: 60vh;
            }

            #imagenIguales{
                width: 65%;
                border: 1px solid #222222;
                margin-top: 1.5%;
            }
            
            .descripcionImgIguales{
                text-align: center;
                line-height: 150%;
                margin: 2% 0% 2% 0%;
            }

            .containerBotonesCorrectoIncorrecto{
                display: flex;
                flex-flow: row nowrap;
            }

                .containerBotonesCorrectoIncorrecto button{
                    padding: 1.5%;
                    width: 25vw;
                    font-family: 'Gloria Hallelujah', cursive;
                    margin-right: 5%;
                    border-radius: 10px;
                }

                #correctoIguales{
                    background: linear-gradient(to top, #009900 0%,#99ff33 100%);
                    border-bottom-color:#006600;
                }
                
                #incorrectoIguales{
                    background:  linear-gradient(to top, #ff0000 0%,#ff8080 100%); 
                    border-bottom-color: #990000;
                }
            
            #nextIguales{
               /* display: none; */
            }

            /************* PAGINA ADULTOS ***************/
            
            .containerPrincipalAdulto{
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                background: #ffdd99;
                border-radius: 10px;
                padding: 2%;
                color: #222;
                font-size: 1rem;
                overflow: auto;
                display: flex;
                border: 1px solid #222;
                width: 95%;
                height: 70vh;
                align-self: center; 
            }

            .containerEstadistica{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .containerAdultos, .estadistica{
                line-height: 150%; 
            }

            .estadistica {
                margin-top: 2%; 
            }

            .subtituloAdulto{
                text-align: center;
                font-family: 'Coiny', cursive;
                /* margin: 2% 0% 2% 0%; */
                font-size: 1.3rem;
            }

            .agrandar{
                /* font-size: 2.5rem; */
                font-weight: bold;
            }

            /*SCROLL*/
            .containerPrincipalAdulto::-webkit-scrollbar {
                width: 8px;
                height: 8px;
              }
              
               /* Estilos barra (thumb) de scroll */
               .containerPrincipalAdulto::-webkit-scrollbar-thumb {
                background: #c79d4a;
                border-radius: 4px;
              }
                     
               /* Estilos track de scroll */
               .containerPrincipalAdulto::-webkit-scrollbar-track {
                background: #ffe6b3;
                border-radius: 4px;
              }



/* TODAS LAS TEORIAS Y JUEGOS */


.consignaDeJuego{
    width: 100%;
    text-align: justify;
    padding-bottom: 2%;
}

/************* Scroll ***************/
.teoriaJuego::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
   .teoriaJuego::-webkit-scrollbar-thumb {
    background: #c79d4a;
    border-radius: 4px;
  }
         
   /* Estilos track de scroll */
   .teoriaJuego::-webkit-scrollbar-track {
    background: #ffe6b3;
    border-radius: 4px;
  }

/*** Oculto inicialmente todo los juegos y teorias ***/
.teoriaJuego{
    display: none;
}

/************* PAGINA DE CONTACTO ***************/
            .contacto{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

/***** CUENTOS *****/
.containerCuentos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
    overflow: auto;  
}

    .filaCuentos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        
    }

        .containerCuentos img{
            width: 40%;
            height: 50%;
            margin-bottom:  5%;

        }

.containerCuentos::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    }
    
    /* Estilos barra (thumb) de scroll */
    .containerCuentos::-webkit-scrollbar-thumb {
    background: #c79d4a;
    border-radius: 4px;
    }
            
    /* Estilos track de scroll */
    .containerCuentos::-webkit-scrollbar-track {
    background: #ffe6b3;
    border-radius: 4px;
    }


        /* .filaCuentos1{
            margin-top: 15%;
        }

        .filaCuentos2{
            margin-top: 30%;
        }

        .filaCuentos3{
            margin-top: 30%;
        }

        .filaCuentos4{
            margin-top: 30%;
        } */
            

/**** SUGERENCIAS *****/

.containerFormArbolGlobo{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 3%;
}


.containerArbol, .containerGlobo{
    width: 15%;
}

#arbol{
    width: 50%;
    height: 73%;
    position: absolute;
    left: 0;
    border-bottom: 0;
    z-index: -1;
}

#globo {
    width: 30%;
    animation: flotarGlobo 2s alternate infinite ease-in;
    position: absolute;
    z-index: -1;
}


.formSugerencias{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 70%;
    background-color: rgba(000, 000, 000, 0.3);
    z-index: 1;
    margin-top: 10%;
}

    .formSugerencias .botonSugerencia, #enviar{
        padding: 2%;
        
    }

    .formSugerencias textarea, .formSugerencias input, .formSugerencias, #enviar{
        border-radius: 10px;
    }

    #enviar{
        background: linear-gradient(to top, orange 0%,#fff2cc 100%);
        border-bottom: 3px solid #e65c00; 
        font-family: 'Gloria Hallelujah', cursive;
        width: 30%;
    }

/***** MEDIA QUERIES *****/

@media (min-width: 320px) and (max-width: 480px){
    
    /***** MENU DE NUBES  *****/

    #logo, header nav{
        display: none;
    }

    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-image: url(../img/nubesAnimadas1.png);
        background-size: cover;
        background-repeat: repeat-x;
        background-position: 0px 0px;
        animation: animatedBackground 40s linear infinite;
        padding-bottom: 8%;
    }

        header p{
            width: 100%;
            text-align: center;
            font-family: 'Gloria Hallelujah', cursive;
            color: #ffcc66;
            font-size: 1.3rem;
            text-shadow: 1px 0 0 #e65c00, -1px 0 0 #e65c00, 0 1px 0 #e65c00, 0 -1px 0 #e65c00, 1px 1px #e65c00, -1px -1px 0 #e65c00, 1px -1px 0 #e65c00, -1px 1px 0 #e65c00;
        }

        .volverAtras, header p{
            display: block;
        }

        .volverAtras, .containerParlante{
            width: 12%;
            margin: 1% 1% 0% 1%;
        }

        .volverAtras img, #imagenParlante{
            width: 100%;
        }

    /***** CATEGORIAS *****/

    .container_lateral{
        display: none;
    }

    .categorias{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0% 4% 0%;
    }

        .categoria{
            width: 100%;
            margin: 0px;
        }
            .categoriaUno{
                display: flex;
                flex-flow: row-reverse;
                justify-content: flex-end;
            }

            .categoriaDos{
                display: flex;
                flex-flow: row-reverse;
                margin-top: -12%;
            }

            .categoriaTres{
                margin-top: -8%;
            }

            .categoriaCuatro{
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                margin-top: -55%;
            }

            .categoria input{
                padding: 5% 0 5% 0; 
                width: 70%;
                height: 1%;
            }

            .categoriaDos input{
                text-align: center;
                height: -50%;
            }

            .containerMariposaFlorLadrillo{
                margin-top: -8%;
            }

            .containerMariposaFlorLadrillo input{
                width: 100%;
                padding: 10% 0 10% 0; 
                text-align: center;
            }

            .mariposa{
                width: 10%;
            }

            .florLadrillo{
                width: 25%;
            }

            .mariposa, .florLadrillo{
                align-self: flex-start;
            }

            .containerMariposasFlor{
                display: flex;
                justify-content: flex-start;
                margin-left: 15%;
            }

            .rosa{
                margin: 0% 0% 2% -35%;
            }

            #nena_saludando{
                width: 20%;
                margin: 0% 0% 2% 6%;

            }

            #nena_columpio{
                width: 22%;
                align-self: flex-start;
                margin: -13% 4% 0% 0%;
            }

            #nena_colgada{
                width: 25%;
                margin-left: 0px;
                align-self: flex-start;
            }

            #nene_mirando_arriba{
                width: 36%;
                margin: 0% 4% 4% 0%;
                align-self: flex-end;

            }

            .containerPajaritoCasita{
                width: 40%;
            }

                #casita{
                    width: 30%;
                    margin-left: 40%;
                }

                #birdGif{
                    margin-top: 15%;
                }

                    @keyframes volar{
                        100%{
                            transform: translateY(55%);
                        }
                    }
            
            .containerHongoNene{
                width: 70%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-end;
            } 

                #margaritas{
                    display: block;
                    width: 20%;
                    margin-left: 20%;
                }

    .footer{
        position: absolute;
        bottom: 0;
       
    }

    .footerPasto{
        background-image: url(../img/footer.png);
        background-size: cover;
        width: 100%;
        padding: 6% 0% 6% 0%;
        /* position: fixed;
        bottom: 10%; */
    }

    .menuTierra{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/tierraLarga1.png);
        background-size: cover;
        padding: 1% 0% 1% 0%;
        /* position: fixed;
        bottom: 0px; */
        height: 9%;
    }

        .botonFamilia,
        .botonCuentos,
        .botonEsi,
        .botonContacto{
            display: block;
            width: 10%;
        }

        .botonFamilia img,
        .botonCuentos img,
        .botonEsi img,
        .botonContacto img{
            width: 100%;
        }

        .boton{
            margin: 1% 4% 0% 0%;
        }

        .botonContacto{
            margin-right: 0;
        }

        .botonFamilia img:hover,
        .botonCuentos img:hover,
        .botonEsi img:hover,
        .botonContacto:hover{
            transform: scale(1.1)
        }

    /***** CATEGORIA TEMPLTED *****/

    #containerPrincipalPestanas{
        width: 90%;
        align-self: center;
    }

    #tituloCategoriaTemplated{

    }

    /*****  CATEGORIA ABUSO SEXUAL *****/
    .tituloTemplatedCategoria{
        font-size: 1rem;
        width: 100%;
    }

    .containerPestana1TextoInicial ul{
        font-size: 0.9rem;
    }
    
    .signoExclamacion{
        width: 2%;
    }

}





