*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    
}

body{
    /**background-color: #A7D6DC;**/
    background: linear-gradient(to bottom, #79abd1 0%,#d4e4ef 100%);
    font-family: 'Gloria Hallelujah', cursive;
}

#bodyIndex{
    overflow: hidden;
}

/****** HEADER *****/

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 0%;
    background-image: url(../img/nubesAnimadas1.png);
    background-size: 90%;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground 20s linear infinite;

}

    header p, .volverAtras{
        display: none;
        
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    
    #logo{
        flex: 0.5 1;
        width: 3%;
        height: 1%;
        animation: 1.3s flotarNubes ease infinite alternate;
    }

    #imagenParlante{
        width: 6%;
      }

    nav{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 70%;
    }

        .menu {
            display: flex;
            flex-flow: row wrap;
            list-style:none;
            justify-content: space-between;
            height: 100%;
        }

            .linkMenu, .menuHamburguesa{
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("../img/nube.png");
                background-size: cover;
                width: 5%;
                padding: 6%;
                text-align: center;
                animation: 1.3s flotarNubes ease infinite alternate;
            }   

            .linkMenu a{
                text-decoration: none;
                text-align: center;
                font-family: 'Gloria Hallelujah', cursive;
                font-size: 100%;
                color: #222;
            }

.categoria input:hover, #imagenParlante:hover {
	transform: scale(1.1)
}

@keyframes flotarNubes {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.06);
    }
  }

/***** PAGINA HOME *****/

.section_categorias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

    .container_lateral{
        display: flex;
        justify-content: center;
        width: 15%; 
    }

    .container_lateral.arbol{
        margin: 0 1% 0 0;
    }

        #arbol{
            width: 25%;
            height: 73%;
            position: absolute;
            left: 0;
            border-bottom: 0;
            z-index: -1;
        }

        #globo {
            width: 60%;
            animation: flotarGlobo 2s alternate infinite ease-in;
        }
    
            @keyframes flotarGlobo{
                100%{
                    transform: translateY(30%);
                }
            }
            
    .categorias{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 70%;
        margin-top: 1%;
    }

        .categoria{
            display: flex;
            flex-flow: column nowrap;
            width: 23%; 
            margin: 1% 1% 0 1%;
        }

            .categoria input{
                font-size: 120%;
                font-family: 'Coiny', cursive;
                color: #fff;
                text-shadow: 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222;
                padding: 20% 0 20% 0; 
                border-radius: 20%;
                border-color: #868484;
                background-image: url(../img/pared.jpg);
                background-size: cover;
                background-color: transparent;
                box-shadow: 10px 10px 20px #727171; 
                
            }

            .containerMariposaFlorLadrillo{
                display: flex;
                flex-flow: column nowrap;
            }

            /*** NENES/AS DE PÁGINA HOME ***/

            #nene_mirando_arriba{
                width: 60%; 
                margin-bottom: 7%;
                animation: saltar 2s ease  infinite;
            }

                @keyframes saltar {
                    25% {
                    transform:translateY(20px) skew(-5deg);
                    }
                    0%, 50%, 100% {
                    transform:translateY(0) skew(0);
                    }
                    75% {
                    transform:translateY(15px) skew(8deg);
                    }
                }

            #nena_colgada{
                width: 59%; 
                animation: 3s balancearse ease infinite;
            }

            #nena_columpio{
                width: 55%; 
                animation: 2s balancearse ease infinite;
            }

                @keyframes balancearse {
                    0% {
                    transform: rotate(-2deg);
                    }
                    20% {
                    transform: rotate(10deg);
                    }
                    40% {
                    transform: rotate(-7deg);
                    }
                    60% {
                    transform: rotate(2deg);
                    }
                    90% {
                    transform: rotate(-0.5deg);
                    }
                    100% {
                    transform: rotate(0);
                    }
                }
            
            #nena_saludando {
                width: 45%; 
            }

            .containerMariposasFlor{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

                .mariposa{
                    width: 15%;
                }

                .rosa{
                    margin: 9% 0 3% 0;
                }

            .containerPajaritoCasita{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

                #casita{
                width: 27%;
                }

                #birdGif{
                    width: 25%;
                    animation: volar 1s alternate infinite ease-in;
                    margin-left: 10%;
                    align-self: flex-start;
                }

                    @keyframes volar{
                        100%{
                            transform: translateY(80%);
                        }
                    }
                
                .containerHongoNene{
                    display: flex;
                    justify-content: center;
                }

                    #margaritas{
                        display: none;
                    }

            #imagenParlante,
            #globo,
            #nena_columpio,
            #nene_mirando_arriba,
            #nena_saludando, 
            #nena_colgada,
            .florLadrillo,
            .mariposa.rosa,
            #casita{
                align-self: center;
            }

            .florLadrillo{
                width: 32%;
            }


/***** FOOTER  *****/

.footer{
    display: flex;
    flex-flow: column nowrap;
    bottom: 0px;
}

    .footerPasto{
        background-image: url(../img/footer.png);
        background-size: 65%;
        width: 100%;
        padding: 2% 0% 3.5% 0%;
    }

    .menuTierra,
    .botonFamilia,
    .botonCuentos,
    .botonEsi,
    .botonContacto{
        display: none;
    }

/***** CATEGORIA TEMPLATED *****/

#containerPrincipalPestanas{
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    
}

    #pestanas{
        width: 100%;
        height: 20%;
    }
        #pestanas ul{
            display: flex;
            flex-flow: row nowrap;
            width: 50%;
        }

            #lista li{
                margin-right: 2%;
            }

            #pestana1, #pestana2, 
            #pestana3, #pestana4, 
            #pestana5, #pestana6,
            #pestana7, #pestana8{
                list-style: none;
                text-align: center;
                background: #ffe6b3;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: 2px solid #222;
                border-bottom-style: dotted;
                margin-bottom: -2px;
                padding: 2% 0% 2% 0%;
                width: 50%;
                z-index: 1;
                display: none;
            }

            #pestanas a{
                text-decoration: none;
                color: #222;
            }

    #contenidopestanas{
        display: flex;
        flex-flow: column wrap;
        background: linear-gradient(to bottom, #ffcc66 0%,#ffdd99 100%);
        padding: 2%;
        border-radius: 0px 5px 5px 5px;
        border: 2px solid #222;
        height: 80%;
       
    }

        #contenidopestanas .contenido{
            width: 100%;
        }

        /***** CONTENIDO CATEGORIA UNO (ABUSO SEXUAL)*****/
        
        .container1Pestana1{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            width: 100%;
            overflow: auto;
            height: 60vh;
            justify-content: center;
            align-items: center;
        }

        /****** SCROLL *****/
        .container1Pestana1::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }
          
           /* Estilos barra (thumb) de scroll */
           .container1Pestana1::-webkit-scrollbar-thumb {
            background: #c79d4a;
            border-radius: 4px;
          }
                 
           /* Estilos track de scroll */
           .container1Pestana1::-webkit-scrollbar-track {
            background: #ffe6b3;
            border-radius: 4px;
          }

        /***********/
        
            #nenePensando{
                width: 20%;
                margin-right: 2%;
                border: 1px solid #222;
                background: #ffe6b3;
            }

            .containerPestana1TextoInicial{
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                align-self: flex-start;
                
            }

                .tituloTextoCategoria{
                    height: 10%;
                    width: 45%;
                    font-size: 1.5rem;
                    text-align: center;
                    margin-bottom: 2%;
                }

                    .signoExclamacion{
                        width: 4%;
                        margin-bottom: -3%;
                    }

                        .signoExclamacion1{
                            margin-bottom: -4%;
                        }

                        .signoExclamacion2{
                            margin-top: 1%;
                        }

            #sostendoresDeCartel{
                width: 65%;
                z-index: 1;
                align-self: unset;
            }

            .containerPestana1TextoInicial ul{
                list-style: none;
                background-image: url(../img/papelPiola.png);
                background-size: cover;
                padding: 20% 10% 10% 20%;
                margin-top: 2%;
                
            }

                .containerPestana1TextoInicial ul li{
                    margin-bottom: 4%;
                }

                .tildeVerde, .cruzRoja{
                    width: 2.5%;
                }
        /***** JUEGO CATEGORIA ABUSO SEXUAL *****/
        
        #bien:hover, #mal:hover, #next:hover{
            transform: scale(1.1);
        }
        
        .containerNext{
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
        
        #recargar{
            width: 15%
        }
            #next{
                margin-right: 3%;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

        .mensajeVerificacionRespuesta{
            margin-right: 2%;
            display: none;
        }

        #cpestana2{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

            .containerImagenDescripcionBotonesAbusoSexual{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }


        /* .containerImagenDescripcionBotonesAbusoSexual{
            display: flex;
            flex-flow: column nowrap;
            
        } */
            .consignaDeJuego{
                width: 100%;
                text-align: center;
                padding-bottom: 2%;
            }

            .containerImagenJuegoAbusoSexual{
                display: flex;
                justify-content: center;
                border: 1px solid #222;
                width: 50%;
                height: 20%;
                background: #ffe6b3;
            }

                .containerImagenJuegoAbusoSexual img{
                    width: 100%;
                    height: 100%;
                }

            .containerDescripcionBotonesAbusoSexual{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 50%;
                padding: 2%;
            }

                #descripcionImagenJuegoAbusoSexual{
                    width: 90%;
                    text-align: center;
                }

                .containerBotonesAbusoSexual{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 35%;
                    padding-top: 3%;
                }


        /***** TEORIA CATEGORIA CUERPO HUMANO *****/
        #cpestana3{
            height: 80vh;
            overflow: auto;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            
        }

            .partesDelCuerpo{
                width: 100%;
                margin-bottom: 3%;
            }

            .partesPrivadasImagen{
                margin-top: 1%;
            }

            .partesPrivadasTexto{
                margin-bottom: 3%;
                text-align: justify;
            }

            /***** LUPA *****/
            .magnify {
                z-index: 20;
                border: 3px solid #999;
                position: relative;
                width:900px;
              height:640px;
                margin:0px auto;
                overflow: hidden;
            }
            
            .magnify img {
                display:block;
            }
            
            .element_to_magnify {
                position: relative;
                width:900px;
              height:640px;
            }
            .element_to_magnify a {
              display:block;
              position:absolute;
              top:80px;
              right:80px;
              background-color:rgba(200, 200, 200, .25);
              padding:4px;
              font-size:18px;
              color:#fff;
            }
            .element_to_magnify img{
                width: 100%;
                height: auto;
            }
            .magnified_element {
                
            }
            
            .magnify_glass {
                z-index: 300;
                position: absolute;
                border: 4px solid #CCC;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                overflow:hidden;
            }
            

            /***** JUEGO CUERPO HUMANO ****/

            .tablaCuerpoHumano{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 60vh;
            }
    

            .rowCuerpoHumano {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                width: 99%;
                border-bottom: 1px solid #222;
                
            }

                .elementCuerpoHumano{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 99%;
                    height: 10vh;
                }

                .bordear {
                    border-right: 1px solid #222;
                }

                .equis{
                    width: 24%;
                    display: none;
                }

                .parteCuerpo{
                    width: 48%;
                }

                .brazo{
                    width: 65%;
                }

                .agrandar{
                    width: 52%;
                }

            /************ TEORIA DE GROOMING ************/
            .cpestana5{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
            }

            .teoriaGroomingImg{
                width: 99%;
                
            }

                .teoriaGroomingImg img{
                    width: 100%;
                    height: 100%;
                    border: 1px solid #222;
                    border-radius: 20px;
                    border-bottom: 6px solid #222; 
                }

            /*********** JUEGO DE GROOMING ***********/
            #cpestana6{
                height: 80vh;
                overflow: auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

            .formJuegoGrooming{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .opcion{
                display: flex;
                flex-flow: row nowrap;
                padding: 2%;
                border-radius: 20px;
                width: 50%;
                background: linear-gradient(to top, orange 0%,#fff2cc 100%);
                margin-bottom: 2%;
                text-align: center;
                border-bottom: 3px solid #e65c00; 
            }



/************* PAGINA DE CONTACTO ***************/
            .contacto{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

/***** CUENTOS *****/
.containerCuentos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
    overflow: auto;   
}

    .filaCuentos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        
    }

        .containerCuentos img{
            width: 40%;
            height: 50%;
            margin-bottom:  5%;

        }

        /* .filaCuentos1{
            margin-top: 15%;
        }

        .filaCuentos2{
            margin-top: 30%;
        }

        .filaCuentos3{
            margin-top: 30%;
        }

        .filaCuentos4{
            margin-top: 30%;
        } */
            
/***** MEDIA QUERIES *****/

@media (min-width: 320px) and (max-width: 480px){
    
    /***** MENU DE NUBES  *****/

    #logo, header nav{
        display: none;
    }

    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-image: url(../img/nubesAnimadas1.png);
        background-size: cover;
        background-repeat: repeat-x;
        background-position: 0px 0px;
        animation: animatedBackground 40s linear infinite;
        padding-bottom: 8%;
    }

        header p{
            width: 100%;
            text-align: center;
            font-family: 'Gloria Hallelujah', cursive;
            color: #6fa7d1;
            font-size: 1.3rem;
            text-shadow: 1px 0 0 #d4e4ef, -1px 0 0 #d4e4ef, 0 1px 0 #d4e4ef, 0 -1px 0 #d4e4ef, 1px 1px #d4e4ef, -1px -1px 0 #d4e4ef, 1px -1px 0 #d4e4ef, -1px 1px 0 #d4e4ef;
        }

        .volverAtras, header p{
            display: block;
        }

        .volverAtras, .containerParlante{
            width: 12%;
            margin: 1% 1% 0% 1%;
        }

        .volverAtras img, #imagenParlante{
            width: 100%;
        }

    /***** CATEGORIAS *****/

    .container_lateral{
        display: none;
    }

    .categorias{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0% 4% 0%;
    }

        .categoria{
            width: 100%;
            margin: 0px;
        }
            .categoriaUno{
                display: flex;
                flex-flow: row-reverse;
                justify-content: flex-end;
            }

            .categoriaDos{
                display: flex;
                flex-flow: row-reverse;
                margin-top: -12%;
            }

            .categoriaTres{
                margin-top: -8%;
            }

            .categoriaCuatro{
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                margin-top: -55%;
            }

            .categoria input{
                padding: 5% 0 5% 0; 
                width: 70%;
                height: 1%;
            }

            .categoriaDos input{
                text-align: center;
                height: -50%;
            }

            .containerMariposaFlorLadrillo{
                margin-top: -8%;
            }

            .containerMariposaFlorLadrillo input{
                width: 100%;
                padding: 10% 0 10% 0; 
                text-align: center;
            }

            .mariposa{
                width: 10%;
            }

            .florLadrillo{
                width: 25%;
            }

            .mariposa, .florLadrillo{
                align-self: flex-start;
            }

            .containerMariposasFlor{
                display: flex;
                justify-content: flex-start;
                margin-left: 15%;
            }

            .rosa{
                margin: 0% 0% 2% -35%;
            }

            #nena_saludando{
                width: 20%;
                margin: 0% 0% 2% 6%;

            }

            #nena_columpio{
                width: 22%;
                align-self: flex-start;
                margin: -13% 4% 0% 0%;
            }

            #nena_colgada{
                width: 25%;
                margin-left: 0px;
                align-self: flex-start;
            }

            #nene_mirando_arriba{
                width: 36%;
                margin: 0% 4% 4% 0%;
                align-self: flex-end;

            }

            .containerPajaritoCasita{
                width: 40%;
            }

                #casita{
                    width: 30%;
                    margin-left: 40%;
                }

                #birdGif{
                    margin-top: 15%;
                }

                    @keyframes volar{
                        100%{
                            transform: translateY(55%);
                        }
                    }
            
            .containerHongoNene{
                width: 70%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-end;
            } 

                #margaritas{
                    display: block;
                    width: 20%;
                    margin-left: 20%;
                }

    .footer{
        /* align-self: flex-end; */
       
    }

    .footerPasto{
        background-image: url(../img/footer.png);
        background-size: cover;
        width: 100%;
        padding: 6% 0% 6% 0%;
        /* position: fixed;
        bottom: 10%; */
    }

    .menuTierra{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/tierraLarga1.png);
        background-size: cover;
        padding: 1% 0% 1% 0%;
        /* position: fixed;
        bottom: 0px; */
        height: 9%;
    }

        .botonFamilia,
        .botonCuentos,
        .botonEsi,
        .botonContacto{
            display: block;
            width: 10%;
        }

        .botonFamilia img,
        .botonCuentos img,
        .botonEsi img,
        .botonContacto img{
            width: 100%;
        }

        .boton{
            margin: 1% 4% 0% 0%;
        }

        .botonContacto{
            margin-right: 0;
        }

        .botonFamilia img:hover,
        .botonCuentos img:hover,
        .botonEsi img:hover,
        .botonContacto:hover{
            transform: scale(1.1)
        }

    /***** CATEGORIA TEMPLTED *****/

    #containerPrincipalPestanas{
        width: 90%;
        align-self: center;
    }

    /*****  CATEGORIA ABUSO SEXUAL *****/
    .tituloTextoCategoria{
        font-size: 1rem;
        width: 100%;
    }

    .containerPestana1TextoInicial ul{
        font-size: 0.9rem;
    }
    
    .signoExclamacion{
        width: 2%;
    }

    .containerImagenDescripcionBotonesAbusoSexual{
        display: flex;
        flex-flow: column nowrap;
    }

    .containerDescripcionBotonesAbusoSexual{
        width: 90%;
    }

    .containerBotonesAbusoSexual{
        width: 50%;
    }
}





